@import "../../../styles/settings.scss";

// .root {
// }

.white {
  background-color: $button-color;
  color: $button-main-bg;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 15px 30px;
  @include hover-animation;
  border-radius: 3px;

  &:hover {
    color: $button-color;
    border-top: 4px solid $bg-color-lightgreen;
    background-color: $bg-color-darkgreen;
    text-decoration: none;
  }

  a {
    z-index: 1;
    text-decoration: none;
  }
}

.small {
  background-color: $button-color;
  color: $button-main-bg;
  font-size: 13px;
  line-height: 12px;
  padding: 7px 15px;
  @include hover-animation;
  border-radius: 2px;

  &:hover {
    border: 2px solid $bg-color-lightgreen;
    text-decoration: none;
  }

  a {
    z-index: 1;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

}
