@import "../../../styles/settings.scss";

.shoppingQty {
  button {
    padding: 0px 10px;
    margin: 0px 10px;
    border: 1px solid black;
    font-size: 1.2rem;
  }
}

.hidden {
  display: none;
}
