@import "../../../styles/settings.scss";

.addToCart {
  button {
    padding: 0px 5px;
    margin: 0px 5px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    background: transparent;
  }
}

.hidden {
  display: none;
}
