
@import "../../../styles/settings.scss";

.root {
  padding:0 0 3rem 0;
  :global(.container) > :global(.row) {
    height: 100%;
  }
}

.items {
  width: 100%;
  margin: 20px 0;

  a {
    text-decoration: none;
    color: $bg-color-darkgreen;

    &:hover {
      text-decoration: none;
      color: $bg-color-lightgreen;
    }
  }

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: white;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    text-align: center;

    .button {
      margin-top: 20px
    }
  }
}



